.DS_Store
.next
.vscode
out/
node_modules
yarn.lock
package-lock.json
node_modules/
.next/
*.log
pages/elements.js
pages/generic.js
pages/landing.js
pages/Contact.js
pages/Contact_beta.js
pages/ContactForm.js
static/images/maths.jpg
static/images/abdominal_idx.jpg
static/images/musculoEsc.jpg
components/Menu.js
components/Contact.js
components/Contact_beta.js
components/ContactForm.js